python-dotenv
langchain
langchain-text-splitters
langchain-community
langchain-core
langchain-huggingface
langchain-groq
langgraph
sentence-transformers
transformers
rank-bm25
faiss-cpu
pymupdf
python-docx
python-pptx
pytesseract
paddleocr
paddlepaddle
pillow
nltk
langdetect
spacy
yake
streamlit
